*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Okra,Helvetica,sans-serif;
    border: none;
}

*:focus{
    border: none;
    outline: none;
}

a{
    color:unset;
}

header{
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    height: 60vh;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px 0px;
    width: 90%;
    margin: 0px auto;
}

nav .nav-item{
    color:#fff;
    margin: 0px 10px;
}

nav div.container{
    display: flex;
}
nav div.nav-item.app{
    font-size: 0.9rem;
    font-weight: 900;
}

nav div.nav-item{
    font-size: 1.2rem;
    font-weight: 200;
}

header div.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}

header img.logo{
    width: 300px;
}

header h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}

/* Header Content */
header div.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
}

div.searchbox div{
    display:flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
}

header div.searchbox i{
    margin: 10px;
}

header div.searchbox div.select i{
    color: #F57082
}

header div.searchbox div.input i{
    color: #828282b7;
}

header div.searchbox div.sep{
    height: 50%;
    background-color: #828282b7;
    width: 2px;
}

header div.searchbox div.input{
    flex-grow: 80%;
}

header div.searchbox div.input input{
    width: 100%;
    font-size: 1rem;
}

/* ---------------header section complete----------*/

section.nearby{
    min-height: 40vh;

}

section.nearby div.containerh3{
    text-align: center;
    width: 90%;
    padding: 40px 0px;
    margin: 0px auto;
}

section.nearby div.containerh3 h3{
    font-size: 2.2rem;
    font-weight: unset;
}
section.nearby div.box{
    max-width: 25%;
    display:flex;
    border-radius: 10px;
    padding: 25px 15px;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    margin-top: 5%;
}

section.nearby div.box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}